// Specific CSS for your home-page

// .background-image {
//   background-size: cover;
//   background-repeat: no-repeat;
// }

body {

   h1 {
    // color: red;
    font-size: 48px;
   }

   h3 {
    // color: red;
    font-size: 32px;
   }

   p {
    // color: red;
    font-size: 20px;
   }

}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
}

.container-info {
  h1 {
    color: white
  }
  h3 {
    color: white
  }
  p {
    color: white
  }

}
