<h1 class="title">Your bookings</h1>
<div class="cards">
  <% @bookings.each do |booking| %>
      <div class="card-dog">
        <div class="card-dog-infos">
          <div>
            <h2><%= link_to booking.dog.name, dog_booking_path(booking.island, booking) %></h2>
            <p>Start Date: <%= booking.start_date %></p>
            <p>End Date: <%= booking.end_date %></p>
              <%= link_to "CANCEL BOOKING", booking_path(booking),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
  <% end %>
</div>
