
<div class="card mb-4">
  <% if dog.photo.key.present? %>
    <%= cl_image_tag dog.photo.key, class: "card-img-top" %>
  <% end %>
  <div class="card-body">
  <h5 class="card-title"><%= dog.name %></h5>
  <p class="card-text h6 text-truncate"><%= dog.description %></p>
  <%= link_to "Details", dog_path(dog), class: "btn btn-primary" %>
  </div>
</div>
