<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent Rufus | Never be alone again </title>
  <!-- Google result description-->
  <meta data-controller="typed-js" name="description" content="Adopt man's best friend for a few hours and go on a hike, to the park or cuddle on the couch!">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- add the navbar across the top -->
  <%# <div class="navbar">
    <div class="container">
      <img src="/assets/rufus_logo.png" alt="Rufus logo" width="150px">
      <a href="#" class="btn btn-primary">Sign Up</a>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
  </div> %>

  <!-- banner with descriptive text, photo, search form inputs and button -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url(assets/dog_yellow.jpg);"
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="container-info text-center mt-5">
          <h1>Rent Rufus</h1>
          <h3 data-controller="typed-js"></h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-8">
        <div class="container-info text-center mt-7">
          <h3>Choose <strong>when</strong> and <strong>what</strong> you want to do with your new buddy</p>
          <p>Lisbon's premium service for peer-to-peer dog sharing</p>
          <h1><%= link_to "Meet our Community of Doggos", dogs_path, class:"btn btn-secondary" %></h1>
          <p>OR</p>
          <h1><%= link_to 'Add your Dog to our Community!', new_dog_path, class: "btn btn-secondary" %></h1>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container py-5">
  <div class="row">
      <% @dogs.each do |dog|%>
        <div class="col-4">
          <%= render 'shared/dog_card', dog: dog %>
        </div>
      <%end%>
  </div>
</div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="company">
      <ul class = "company-details">
        <li><a href="">Team</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Legal</a></li>
      </ul>
    </div>
  </div>

</body>
</html>
