<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Rent Rufus </title>
</head>
<body>
  <!-- add the navbar across the top -->
  <%# <div class="navbar">
    <div class="container">
      <img src="/assets/rufus_logo.png" alt="Rufus logo" width="150px">
      <a href="#" class="btn btn-primary">Sign Up</a>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
  </div> %>

  <!-- banner with descriptive text, photo, search form inputs and button -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(assets/doggo_banner3.jpg);">
    <div class="container justify-text-center">
      <h1>Rent Rufus</h1>
      <h3>Adopt man's best friend...for a few hours!</h3>
      <h3>Choose <strong>when</strong> and <strong>what</strong> you want to do with your new buddy</p>
      <p>Lisbon's premium service for <em>peer-to-peer dog sharing</em></p>
      <h1><%= link_to "Find a Dog", dogs_path, class:"btn btn-secondary" %></h1>
    </div>
  </div>


    <div>
      <!-- add the search bar -->

      <!-- add the primary Search button -->


    </div>




  <!-- add the cards x 3 across the middle bottom -->

  <% @dogs.each do |dog|%>
    <%= render 'shared/dog_card', dog: dog %>
  <%end%>

  <%# <div class="container">
    <div class="d-flex row">
      <div class="col-4">
        <div class="card">
          <img src="/assets/doggo_card1.jpg" alt="Doggo Card">
          <p>This dog is great for this activity!</p>
          <h3>Name</h3>
          <p>Breed</p>
        </div>
        <div class="card">
          <img src="/assets/doggo_card1.jpg" alt="Doggo Card">
          <p>This dog is great for this activity!</p>
          <h3>Name</h3>
          <p>Breed</p>
        </div>
        <div class="card">
          <img src="/assets/doggo_card1.jpg" alt="Doggo Card">
          <p>This dog is great for this activity!</p>
          <h3>Name</h3>
          <p>Breed</p>
        </div>
      </div>
    </div>
  </div> %>


  <!-- footer across the bottom -->
  <div class="footer">
    <ul class="social-links" style="list-style: none">
      <li>
        <a href="" target="_blank" class="social-icon">
        <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank" class="social-icon">
        <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>

    <ul class = "company-details">
      <li><a href="">Team</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Legal</a></li>
    </ul>
  </div>

</body>
</html>
