.card-dog {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

}

.card-dog img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-dog h2 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.card-dog p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:black !important;
}

.card-dog .card-product-infos {
  padding: 30px;

}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   background-size: cover;
//   background-position: center;
//   height: 150px;
//   border-radius: 1px;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 22px;
//   color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-text {
  font-size: 12px;
  height: 50px;
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
}

.card-img-top {
  // height: 150px;
  // background-size: cover;
}

.content {
  display: flex;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}


#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
